
#main {
  margin-top: 3.75em;
}

.right {
  float: right;
  margin-right: 98px;}

header {
  padding-bottom: 0px;
  padding-left: 20px;
  font-family: 'Asul', sans-serif;
  text-transform: uppercase;
  background-color: #084C8D;
  position: relative;
  display: block;
  width: 100%;  }

  .headerlink {
    color: white;}

  .headerlink:hover {
    color: orange;
    background-color: #084C8D;
    text-decoration: none;  }

ul {
  list-style-type: none;
  overflow: hidden;  }

  ul li {
    display: inline-block;  }

  ul li a {
    display: inline-block;
    padding: 10px;}

.pointer {
  cursor: pointer;}

.button {
  width: 20%;
  float: right;
  margin-right: 1px;
  text-align: center;
  font-family: 'Asul', sans-serif;
  color: white;
  background-color: #73b844;
  border-radius: 2px;
  border: 1px solid grey;
  font-size: 20px;}

  .button:hover {
    color: white;
    background-color: #62A038;
    text-decoration: none;  }

.blockbutton {
  text-align: center;
  font-family: 'Asul', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;}

.red {
  background-color: #D31F43;}

.blue {
  background-color: #0F6AAC;}

.green {
  background-color: #028953;}

.yellow {
  background-color: #FFC524;}

.orange {
  background-color: #D25D13;}

  div.mapbutton {
    max-height: 30px;  }

.form {
  background-color: #f9f9f9;
  border: 2px solid #73b844;
  padding: 20px;
  margin: 20px;
  max-width: 540px;}

  .formemphasis {
    font-size: 40px;
    font-family: 'Asul', sans-serif;
    margin-bottom: 10px;  }

  .formq {
    font-size: 30px;
    font-family: 'Asul', sans-serif;
    margin-bottom: 10px;  }

.all-blockbuttons {
  margin-bottom: 10px;
  margin-top: 10px;}

.newalert {
  margin-top: 10px;
  margin-bottom: 10px;}

.showmap {
  margin-top: 10px;
  margin-bottom: 10px;}

.map-display {
  height: 500px;
  width: 100%;  }

ul#alertList  li div {
    background: url("/img/download.png") .125em .5em no-repeat;
    background-size: 2em 2em;
    padding: .25em .25em .25em 1.625em;
    margin: .25em 0;  }
