
#main {
    margin-top: 3.75em;
}

h2 {
  color: blue;
}

.nav-pills {
  float: right;
  margin-right: 98px;
}

header {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
}

form input.submit {
    padding: .25em 1.25em .25em 1.25em;
    border: .05em solid #2e2d2a;
    background-color: #6db33f;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    margin: 0 0 1em 0;
    float: left;
}
