<header>
  <nav class="header">
    <div class="navbar">
      {{#link-to 'index'}}
      <span class="headerlink logo"><h2>People's TriMet</h2></span>{{/link-to}}
      <ul class="right">
        <li>
          {{#link-to 'index'}}<span class="headerlink"></span>{{/link-to}}
        </li>
        <li>
          {{#link-to 'index'}}<span class="headerlink"></span>{{/link-to}}
        </li>
      </ul>
    </div>
  </nav>
</header>

<body>
  <div class="container">
    {{outlet}}
  </div>
</body>

<footer>
  <p class="text-center">
    Copyright © 2015
  </p>
</footer>
