<header>
  <nav class="mast-wrapper wrapper">
    <div class="mast-logo">
      <h2>
        People's TriMet
      </h2>
    </div>
    <div class="navbar">
      <ul class="nav nav-pills">
        <li class="nav nav-pills">
          <a href="http://localhost:4200/about">About</a>
        </li>

        <li class="nav nav-pills">
          <a href="http://localhost:4200/about">Contact</a>
        </li>

      </ul>
    </div>
  </nav>
</header>



<div class="container">
  {{outlet}}
</div>

<footer>
  <p class="text-center">
    Copyright © 2015
    {{#link-to 'index'}}Home{{/link-to}}
  </p>


</footer>
