<header>
  <nav class="mast-wrapper wrapper">
    <div class="mast-logo">
      <h2>
        {{#link-to 'index'}}People's TriMet{{/link-to}}
      </h2>
    </div>
    <div class="navbar">
      <ul class="nav nav-pills">
        <li class="nav nav-pills">
          {{#link-to 'index'}}About{{/link-to}}
        </li>

        <li class="nav nav-pills">
          {{#link-to 'index'}}Contact{{/link-to}}
        </li>

      </ul>
    </div>
  </nav>
</header>



<div class="container">
  {{outlet}}
</div>

<footer>
  <p class="text-center">
    Copyright © 2015
    {{#link-to 'index'}}Home{{/link-to}}
  </p>


</footer>
