{{line-display yellowalerts=model.yellowalerts greenalerts=model.greenalerts redalerts= model.redalerts bluealerts=model.bluealerts orangealerts=model.orangealerts}}


{{google-map alerts=model.alerts}}
{{new-alert stops=model.maxstops saveAlert="saveAlert"}}

<hr>
<ul id="alertList" class="group">
  <li>
    {{#each model.alerts as |alert|}}
    {{alert-tile alert=alert}}
    {{/each}}
  </li>
</ul>
