<iframe src="http://mapmash.googlepages.com/pdxmax.html" style="border:0px; width:800px; height:400px"></iframe>
<form id="form_id" action="index.html" method="get" class="triptools-form">
  <section id="main" class="main">
  <fieldset>
    <label for="route">Select a Line:</label>
    <select id="route" name="route" class="regular">
      <option value="100">MAX Blue Line </option>
      <option value="200">MAX Green Line </option>
      <option value="300">MAX Orange Line </option>
      <option value="400">MAX Red Line </option>
      <option value="500">MAX Yellow Line </option>
    </select>
  </fieldset>
  <fieldset>
    <input type="submit" class="submit" value="Select">
  </fieldset>
</section>
</form>
