North Bound
<ul>
  {{#each model.north as |model|}}
  <li>{{model.direction_name}}</li>
  {{/each}}
</ul>

South Bound
<ul>
  {{#each model.south as |model|}}
  <li>{{model.direction_name}}</li>
  {{/each}}
</ul>

Max Stops
<ul>
  {{#each model.maxstops as |model|}}
  <li>{{model.stop_name}}</li>
  {{/each}}
</ul>
